* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  height: 100%;
  overflow: auto;
  font-family: "Lato", sans-serif;
} */

body {
  background: linear-gradient(var(--dark60), var(--dark60)), url("");
  background-position: center;
  background-repeat: no-repeat;
  block-size: cover;
}

p,
a,
button {
  font-family: "Lato", sans-serif;
  color: var(--light);
  text-decoration: none;
}

a,
button,
.logo {
  cursor: pointer;
}

/* main {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(
      60px,
      1fr
    );
}

header {
  grid-column: 2 / span 6;
} */

nav {
  display: flex;
  align-items: center;
  height: 120px;
}

.links {
  margin-left: auto;
}

.links a,
.links button {
  font-size: 1.0625rem;
  font-weight: 400;
  transition: var(--transition);
}

.links a {
  margin-right: 50px;
}

.links a:hover {
  color: var(--accent);
}

.button__med {
  border: none;
  background-color: var(--accent);
  padding: 8px 25px;
  transition: var(--transition);
}

.button__med:hover {
  background-color: var(--accentHover);
}

.info {
  grid-column: 2 / span 4;
}

.hero__font {
  color: var(--light);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 4.375rem;
}

.icons {
  display: flex;
  margin-top: 55px;
}

.icon {
  display: flex;
  align-items: center;
}

.icon__info {
  margin: 0 80px 0 20px;
}

.icon__top {
  font-size: 1.0625rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.icon__bottom {
  font-size: 1.0625rem;
  font-weight: 700;
}

.features {
  grid-column: 2 / span 7;
  background-color: var(--dark80);
  align-self: end;
  padding: 40px 0 0 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.feature {
  display: flex;
  margin: 0 60px 40px 0px;
}

.feature:nth-child(3) {
  align-self: flex-start;
}

.feature img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.feature__info {
  margin-top: 10px;
}

.feature__top,
.feature__cta {
  font-size: 0.08125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature__cta {
  cursor: pointer;
  transition: var(--transition);
}

.feature__cta:hover {
  color: var(--accent);
}

.feature__bottom {
  width: 180px;
  font-size: 1rem;
  font-weight: 400;
}
